01-n8n/04-webhook-telegram.json
{
  "name": "04-webhook-telegram",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "telegram-webhook",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1072,
        -528
      ],
      "id": "ba113cdd-e9fd-4a98-9c44-c009af26bf90",
      "name": "Telegram 웹훅",
      "webhookId": "3d678a4b-4c0f-403c-a343-19d6a991d0f0"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram 웹훅').item.json.body.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -448,
        -528
      ],
      "id": "86852cff-ce11-42b2-ab75-298cdaf8a46a",
      "name": "Send a text message",
      "webhookId": "0efda49a-fee7-47cc-8d72-8c4f17ee42a5",
      "credentials": {
        "telegramApi": {
          "id": "2eXHPTeIvYDO6aVC",
          "name": "gaida-3rd-bot"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.telegram.org/bot8876236492:AAGCj1MIBb7Ld0vMtwUc1A_MflRbtOxaDaU/setWebhook",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "url",
              "value": "https://c4c3-59-9-164-145.ngrok-free.app/webhook-test/telegram-webhook"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1376,
        -688
      ],
      "id": "790fb8ec-9634-45bd-a212-4ffc58f93f17",
      "name": "webhook등록(1회)"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message.text }}",
        "options": {
          "systemMessage": "You are a helpful assistant"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -816,
        -528
      ],
      "id": "0d96213e-09f9-471f-ab67-7e9998dd5251",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1040,
        -320
      ],
      "id": "d910a0f1-e7b6-42fe-8ce2-bdaeaece9121",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "gZqz3M68Byo9W7MG",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.message.chat.id }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -864,
        -208
      ],
      "id": "993c0a10-3e24-4c7c-8ab8-2dc4b34214b7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "금융 경제 검색 엔진",
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {
          "topic": "finance"
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        -640,
        -256
      ],
      "id": "4988222b-af58-4f26-b678-12a8f80728ae",
      "name": "finance",
      "credentials": {
        "tavilyApi": {
          "id": "3za84dim0sZ84QVL",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "보편",
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {
          "topic": "general",
          "search_depth": "basic",
          "max_results": 5
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        -480,
        -304
      ],
      "id": "f6a5f9ab-0891-4b38-9ae4-58a45bc278bc",
      "name": "general",
      "credentials": {
        "tavilyApi": {
          "id": "3za84dim0sZ84QVL",
          "name": "Tavily account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram 웹훅": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "finance": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "general": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "webhook등록(1회)": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "90e5b6ba-53ad-4e93-b1ff-5c11d762faf3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "962db6ad3c8fbb23731a09ae218a38ea439314c0bcf11b14f69d028567371888"
  },
  "nodeGroups": [],
  "id": "fij3pyruDMl9ewS0",
  "tags": []
}